Douglas Mendizábal <douglas@redrobot.io> <douglas.mendizabal@rackspace.com>
Douglas Mendizábal <douglas@redrobot.io> <dougmendizabal@gmail.com>
Douglas Mendizábal <douglas@redrobot.io> <mail@doug.gt>
<jarret.raim@rackspace.com> <jarito@gmail.com>
John Wood <john.wood@rackspace.com> jfwood
